.content {
    color: white;
    background-color: green;
    padding: 15px;
}

/* Тут назву класа я можу ставити яку завгодно
(не забути тільки в Content.tsx біля classes. замінити теж) і більше того-
я можу повторно для будь-якого іншого елементу давати ту ж саму назву класа,
і все-одно він буде унікальним, бо в кінець назви постійно
генерується рандомна частина з кількох символів */